#inner {
  width: 50%;
  margin: 0 auto;
}

body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
}

p {
  color: white;
}

#inner .subtitle {
  text-align: center;
}

#skills {
  color: yellow;
}
