#inner {
  width: 50%;
  margin: 0 auto;
}

body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
}

p {
  color: white;
}

#inner .subtitle {
  text-align: center;
}

#inner #skills {
  border: 1px solid white;
}

#inner #skills td, #skills th {
  border: 1px solid white;
  padding: 8px;
}
