#inner {
  width: 50%;
  margin: 0 auto;
}

body {
  background-color: black;
  color: white;
}

h1 {
  color: white;
}

p {
  color: white;
}

#inner .subtitle {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid white;
  padding: 24px;
}
